$day_box_shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$night_bg_hover: #CE36DB;

$text-color: #110038;
// Theme Night Button
$night_background: #EE3EFE;
$night_box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;

// Box Themes
$day_background_image:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$night_background_image:linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$box: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;


///// NEW CONSTANTS
$day_background: #F7C9F3;

$day_gradient:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$night_gradient:linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

// BUTTON
$common_border: 1px solid #110038;
$dotted_border: 1px dotted #110038;
$btn_day_box_shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$btn_day_hover: #E6BBE2;
$text_color_day: #110038;


