@use "constants";

body{
    &.theme-day{
        background-color: #FFFFFF;
    }
}

.top-bar{
    &.theme-day{
        background-image: constants.$day_gradient;
    }
}

.btn{
    &.theme-day{
        background: constants.$day_background;
        border: constants.$common_border;
        box-shadow: constants.$btn_day_box_shadow;
        color: constants.$text_color_day;

        &:hover{
            background: constants.$btn_day_hover;
        }
    }
}

.hover-day{
    a {
        color: #110038;
    }
}

.hover-day:hover{
    border: 1px dotted #110038;
}

.drop-down .theme-day{

    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    &:first-of-type{
        background: #FFF4FD;
    }

    .btn{        
        width: 150px;
        text-align: left;
        text-indent: 16px;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

        

        &:hover{
            background: constants.$day_background;
            border: 1px solid #CCA6C9;
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
}

.bg-day{
    background: #F7C9F3;
    &:hover{
        background: #E6BBE2;
    }
}

.suggestion-item, .search-bar{
    .top-bar{
        box-shadow: unset;
    }
}

.suggestion-item{
    position: relative;
}

.drop-down{
    &.theme-day{
        background: #E6E6E6;
        .btn:first-child{
            background: #FFF4FD;
        }
    
        .btn:last-child{
            background: #F0F0F0;
        }
    }
}

#trendings-container .hashtag{
    &.theme-day{
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    }
}

#subsearch-box-container{
    .subsearch-box .box-day{
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
}