@use "constants";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
}

.top-bar{
    height: 23px;
    padding: 3px 0 4px 7px;
    box-shadow: 0 1px 0 0 #110038;
}

.pos-relative{
    position: relative;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.nav-buttons{
    display: flex;
    align-items: center;
}

.nav-buttons {
    & > *{
        margin-left: 16px;
    }

    .btn, a {
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        text-decoration: none;
        font-size: 16px;
    }

    #mis-guifos{
        width: 95px;
        height: 32px;        
        &:hover{
            a {
                margin-top: -1px;
                margin-left: -1px;
            }
        }

        a { 
            position: absolute;
            top: 20%;
            bottom: 20%;
            color: constants.$text-color;
    
            &:active{
                opacity: 50%;
            }
        }
    }

    
    .short-underline-day, .short-underline-night{
        width: 8px;
        border: constants.$common_border;
        position: absolute;
        margin-top: 18px;
        margin-left: 1px;
        opacity: 1;
    }

    .short-underline-night{
        opacity: 0;
        border-color: #FFFFFF;
    }
}

.hover-night:hover{
    border: 1px dotted #FFFFFF;
}

.btn-select {
    
    & > .btn:first-child{
        width: 133px;
    }

    &:hover, &:active{
        > .btn{
            outline: constants.$dotted_border;
            outline-offset: -3px;
            background: inherit;
        }
    }

    .drop-down-button{
        margin-left: -3px;
        width: 38px;
    }

    .drop-down{
        position: absolute;
        padding: 10px;
        background: #E6E6E6;
        box-shadow: constants.$box;
    }

    .drop-down-night{
        position: absolute;
        padding: 10px;
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    }
}

#drop-down .btn{
    width: 150px;
    text-align: left;
    text-indent: 16px;

    &:first-child{
        margin-bottom: 10px;
    }

    &.theme-night{
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }

    &.btn-sailor-night2{
        background: #2E32FB;
        color:white;
        border: 1px solid rgba(51,53,143,0.20);
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    }
}

#web-logo{
    position: relative;
    left: -9px;
}

.color-theme2{
    background-image: constants.$night_background_image;
}



.container-centered{
    margin-left: 100px;
    margin-right: 140px;
}

.btn {
    width: 146px;
    height: 38px;
    color: #110038;
    &:hover {
        outline: 1px dotted #110038;
        outline-offset: -3px;
    }
}

.btn-theme-day{
    background: constants.$day_background;
    border: constants.$common_border;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: constants.$text_color_day;

    &:hover{
        background: #E6BBE2;
    }
}

.btn-theme-night{
    background: constants.$night_background;
    border: constants.$common_border;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
    &:hover{
        background: #CE36DB;
    }
}

.search-bar{
    header{
        padding: 3px;
        font-size: 14px;
        font-weight: 700;
    }

    #search-input{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        width: 87%;
        height: 48px;
        color: #110038;
        margin: 12px 6px 12px 15px;
        padding-left: 16px;
        font-size: 16px;
        line-height: 22px;

        &::placeholder{
            color: #B4B4B4;
        }
    }

    .search-btn{
        width: 102px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: end;
        padding-right: 14px;
        &.none-mode{
            background: #E6E6E6;
            color: #B4B4B4;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }

        &.day-mode{
            @extend .btn-theme-day;
        }

        &.night-mode{
            @extend .btn-theme-night;
        }
        

        img{
            position: relative;
            opacity: 0.5;
            top: 2px;
            left: -8px
        }

        &:hover{
            outline: none;
        }

        &:active{
            outline: 1px dotted #110038;;
        }
    }
}

.display-inline{
    display: inline;
}

.box-day{
    background: #E6E6E6;
    padding: 3px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#suggestions-title, #trends-title{
    width: 100%;
    margin-top: 64px;
    pointer-events: none;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    height: 32px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    text-indent: 7px;
    &::placeholder{
        color: constants.$text-color;
    }
    margin-bottom: 16px;
}

#subsearch-box-container{
    .subsearch-box{
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        padding: 17px 120px 15px 15px;
        .btn {
            width: 100%;
        }
    }
}

.text-bar{
    padding: 3px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: 0;
}

#suggestions-container {
    display: flex;
    justify-content: space-evenly;
    .suggestion-item {
        background: #E6E6E6;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 700;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        width: 100%;
        max-width: 288px;
        max-height: 313px;
        padding: 3px 4px;        
        .text-bar{    
            .close-icon{
                position: absolute;
                right: 6px;
            }
        }

        .btn-more{
            background: #4180F6;
            border: 1px solid #4C2F99;
            color:#FFFFFF;
            width: 81px;
            height: 34px;
            position: absolute;
            bottom: 19px;
            left: 11px;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        }

        .img-item{
            width: 100%;
            height: 280px;
            padding-top: 2px;
        }


    }

    &:last-child{
        margin-right: 0px;
    }
}

#trendings-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .trend-item{
        position: relative;
        &:hover{
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            overflow: hidden;
            padding: 2px;
            margin: -2px;
            outline: constants.$dotted_border;
            outline-offset: -3px;
        }
    }

    .hashtag{
        position: absolute;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        bottom: 4px;
        width: 100%;
        display: none;
    }
    img{
        &:hover {
            padding: 4px;
            margin: -2px;
        }
        &:hover + .hashtag{
            display: block;
        }
    }
}