// Theme Day Button
$day_background: #F7C9F3;
$border: 1px solid #110038;
$day_box_shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
// Theme Night Button
$night_background: #EE3EFE;
$night_box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;

// Box Themes
$day_background_image:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$night_background_image:linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$box: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
}

.pos-relative{
    position: relative;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.nav-buttons{
    display: flex;
    align-items: center;
}

.nav-buttons {
    & > *{
        margin-left: 16px;
    }

    .btn, a {
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        text-decoration: none;
        font-size: 16px;
    }

    #mis-guifos{
        width: 95px;
        height: 32px;        
        &:hover{
            a {
                margin-top: -1px;
                margin-left: -1px;
            }
        }

        a { 
            position: absolute;
            top: 20%;
            bottom: 20%;
            color: #110038;
    
            &:active{
                opacity: 50%;
            }
        }
    }

    
    .short_underline{
        width: 8px;
        border: 1px solid #110038;
        position: absolute;
        margin-top: 18px;
        margin-left: 1px;
    }
}

.hover-day:hover{
    border: 1px dotted #110038;
}

.hover-night:hover{
    border: 1px dotted #FFFFFF;
}

.btn-select {
    
    & > .btn:first-child{
        width: 133px;
    }

    &:hover > .btn{
        outline: 1px dotted #110038;
        outline-offset: -3px;
    }

    .drop-down-button{
        margin-left: -3px;
        width: 38px;
    }

    .drop-down{
        position: absolute;
        padding: 10px;
        background: #E6E6E6;
        box-shadow: $box;
    }

    .drop-down-night{
        position: absolute;
        padding: 10px;
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    }
}

#drop-down .btn{
    width: 150px;
    text-align: left;
    text-indent: 16px;

    &:first-child{
        margin-bottom: 10px;
    }


    &.btn-sailor-day{
        background: #FFF4FD;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    }

    &.btn-sailor-day2{
        background: #CCCCCC;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }

    &.btn-sailor-night{
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }

    &.btn-sailor-night2{
        background: #2E32FB;
        border: 1px solid rgba(51,53,143,0.20);
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    }
}

#web-logo{
    position: relative;
    left: -9px;
}

.color-theme1{
    background-image: $day_background_image ; 
}

.color-theme2{
    background-image: $night_background_image;
}

.top-bar{
    height: 23px;
    padding: 3px 0 4px 7px;
    box-shadow: 0 1px 0 0 #110038;
}

.container-centered{
    margin-left: 100px;
    margin-right: 140px;
}

.btn {
    width: 146px;
    height: 38px;
    color: #110038;
    &:hover {
        outline: 1px dotted #110038;
        outline-offset: -3px;
    }
}

.btn-theme-day{
    background: $day_background;
    border: $border;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;

    &:hover{
        background: #E6BBE2;
    }
    
}

.same-hover-day{
    border: $border;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
    background: #E6BBE2;
}

.same-hover-night{
    background: #CE36DB;
    border: $border;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

.btn-theme-night{
    background: $night_background;
    border: $border;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

.search-bar{
    header{
        padding: 3px;
        font-size: 14px;
        font-weight: 700;
    }

    #search-input{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        width: 87%;
        height: 48px;
        color: #110038;
        margin: 12px 8px 12px 15px;
        padding-left: 16px;
        font-size: 16px;
        line-height: 22px;

        &::placeholder{
            color: #B4B4B4;
        }
    }

    .btn{
        width: 102px;
        font-size: 16px;
        color: #B4B4B4;
        letter-spacing: 0;
        line-height: 18px;

        img{
            margin-top: 10px;
        }
    }
}

.display-inline{
    display: inline;
}

.box-day{
    background: #E6E6E6;
    padding: 3px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}



