@use "constants";

body{ 
    background-color: #110038;
    
}

.top-bar{
    &.theme-night{
        background-image: constants.$night_gradient;
    }
}

.btn{
    &.theme-night{
        background: constants.$night_background;
        border: constants.$common_border;
        box-shadow: constants.$btn_night_box_shadow;
        color: constants.$text_color_night;

        &:hover{
            background: constants.$btn_night_hover;
        }
    }
}

.theme-night .hover-day:hover{
    border: 1px dotted #FFFFFF;
}

.drop-down{ 
    &.theme-night{
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;    

        .btn{        
            width: 150px;
            text-align: left;
            text-indent: 16px;
            background: #B4B4B4;
            border: 1px solid #808080;
            box-shadow:  inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;

            &:first-child{
                margin-bottom: 10px;
            }
            
            &:hover{
                background: #2E32FB;
                border: 1px solid rgba(51,53,143,0.20);
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            }
        }
    }
}

.bg-night{
    background: constants.$night_background;

    &:hover{
        background: constants.$btn_night_hover;
    }
}

.suggestion-item, .search-bar{
    .top-bar{
        box-shadow: unset;
    }
}

.suggestion-item{
    position: relative;
}

.drop-down{
    &.theme-night{
        background: #B4B4B4;
        .btn:first-child{
            background: #CCCCCC;
        }
    
        .btn:last-child{
            background: #2E32FB;
            color: white;
        }
    }
}

.hover-night{
    a{
        color: white;
    }
}

.hover-night:hover{
    border: 1px dotted #FFFFFF;
}

#trendings-container .hashtag{
    &.theme-night{
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    }
}

.subsearch-box {
    &.box-night{
        background: #B4B4B4;
        padding: 3px;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        .btn{
            background: #B4B4B4;
        }
    }
}

.search-bar {
    &.box-night{
        background: #B4B4B4;
        padding: 3px;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
}
